@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vw;
    font-size: small;
}

.logo {
    width: 200px;
}

.logoHeader {
    width: 150px;
    height: 80px;
    padding-bottom: 10px;
}

.listheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    margin: 0 3vw 0 5vw;
    align-items: center;
}

.links > li > a {
    color: white;
    text-decoration: none;
}

.links li:hover {
    text-decoration: underline white;
}
header>div>button{
    padding: 10%;
    border-radius: 10px;
    font-weight: bold;
    width: 120%;
    border-style: none;
}

  footer>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.card {
    background: #DEE5ED;
    max-width: 25%;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
}

.name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    padding: 1% 5%;
}

.cardImg {
    background: white;
}


footer>div:last-child {
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: white;

}

footer {
    padding: 5%;
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
}

.links_container>p {
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 20px;
    list-style: none;
}

.links_container>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    list-style: none;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}
.socialmedia a {
    color: white;
}